<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/index.css">
  <title>Error occured!</title>
</head>
<body>
  <div class="d-flex" style="height: 100%;">
    <div class="bg-light w-50 d-flex rounded p-5 flex-column" style="margin: auto auto;">
      <h1 class="display-5" style="color: #f73123;">
        An error occured!
      </h1>
      <h2 class="fs-4 fw-light">Reason: <em class="fw-normal"><%= error %></span> <h2/>
    </div>
  </div>
</body>
</html>
